body{
    text-align: center;
    margin:0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 5px;
    align-items: center;
}

.App > h1{
    margin:10px auto 20px;
}
.tile{
    height: 47px;
    width:47px;
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
}
.line{
    display: flex;
    gap: 5px;
}

.key_board{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 10px;
    margin-left: 25px;;
}

.key{
    height: 60px;
    width: 43px;
    border-radius: 5px;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d6da;
    font-weight: 600;
    font-size: 0.9rem;
    opacity: 90%;
}
.key:nth-of-type(11){
    margin-left: 25px;
}
.key:nth-of-type(20),
.key:nth-of-type(28)
{
    width: 70px;
}
.line > div:nth-child(2){
    animation-delay: 0.3s;
  }
  
  .line > div:nth-child(3){
    animation-delay: 0.6s;
  }
  
  .line > div:nth-child(4){
    animation-delay: 0.9s;
  }
  
  .line > div:nth-child(5){
    animation-delay: 1.2s;
  }
  
  .green{
    --background-color: #5ac85a;
    --border-color: #5ac85a;
    animation: flip 0.7s ease forwards;
  }
  .yellow{
    --background-color: #e2cc68;
    --border-color: #e2cc68;
    animation: flip 0.7s ease forwards;
  }
  .grey{
    --background-color: #a1a1a1;
    --border-color: #a1a1a1;
    animation: flip 0.7s ease forwards;
  }
  
  @keyframes flip {
    0%{
      background-color: #fff;
      border-color: #a1a1a1;
      transform: rotateX(0);
    }
    45%{
      background-color: #fff;
      border-color: #a1a1a1;
      transform: rotateX(90deg);
    }
    55%{
      background-color: var(--background-color);
      border-color: var(--border-color);
      color: #fff;
      transform: rotateX(90deg);
    }
    100%{
      background-color: var(--background-color);
      border-color: var(--border-color);
      color: #fff;
      transform: rotateX(0);
    }
  }
  
.floating{
    position:absolute;
    z-index:10;
    height: 35px;
    padding:10px 10px 0;
    border-radius: 5px;;
    color: #fff;
    font-weight: bold;
    top:70px;
    background-color:black;
    transition: opacity 1s ease;
}

  